.places {
    position:relative;
    overflow:hidden;
}
.places h5{
    position:relative;
    margin:10% auto;
}
.places img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin:10px 5px;
}
.city{
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0;
    color: #fff;
}
.number{
    display: block;
    font-size: 18px;
    margin-top: -8px;
}
#large-box .places{
    padding:40px;
}